<footer class='bg-footer text-stone-200 py-16 mx-auto mt-10 '>
    <div class='container flex flex-col gap-4 justify-center items-center p-2'>
        <div class='flex flex-col gap-4'>
            <div class='flex gap-2'>
                <img src="/img/email.svg" alt='email'>
                <span><a href='mailto:lucianturlea27@gmail.com'>Email:lucianturlea27@gmail.com</a></span>
            </div>
            <div class='flex gap-2'>
            
                <img src="/img/site.svg" alt='site'>
                <span><a href='https://www.design-patterns.lucianturlea.ro'>Website: www.design-patterns.lucianturlea.ro</a></span>
            </div>
            <div>
                Developed by: <a href='https://www.lucianturlea.ro'>Lucian Gabriel Turlea © lucianturlea.ro {{ "now"|date('Y') }} </a> 
            </div>

        </div>
      
    
    </div>
</footer>
