
<div class='pb-2'>
    <div class='pt-2'>
    <span class='font-bold italic color-primary'>{{ pattern.title }}</span>
    </div>
</div>
<div class='pb-8'>
    <h2 class='text-primary font-Plex uppercase'>Description</h2>
    <div class='pt-2'>
    {{ pattern.details }}
    </div>
</div>
<div class='pb-2'>
    <h2 class='text-primary font-Plex uppercase'>Implementation</h2>
      <div class='pt-2'>
    {{ pattern.implementation }}
    </div>
</div>
